# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Info\6.Semester\1.BS\老Betriebssystem\空白代码超重\team_047-master\07R_User_Scheduling\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
